ul.result_actions {
	list-style:square;
	padding:3px;
	list-style-position:inside
}

.filters {
	font-size: 8pt;
}

#fixed-div {
    position: fixed;
    top: 70px;
    right: 0px;
   	background-color: #CDCDCD; 
}

.fixed-div-right {
	text-align: right;
}